button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input{
    width: 50%;
    border: 2px groove black;
}

label {
    padding: 10px;
}

#submit {
    background-color: palevioletred;
    border-radius: 20px;
    padding: 15px;
}

    #submit:hover {
        background-image: linear-gradient(palevioletred, mediumvioletred);
    }

label {
    display: inline-block;
    text-align: right
}


table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px;
}

h1 {
    font-size: xx-large;
}


.dropdown {
    background-color: #ed4c5b;
    color: white;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.3s;

}
.active, .dropdown:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: #EFAFB5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*adds background color to navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #ed4c5b;
}

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: white;
            color: black;
        }
.topnav a.active {
    background-color: mediumvioletred;
     color: white;
}

.img {
    height: 50px;
    width: 45px;  
    display:inline-block;
}
            
        